.img-fluid{
    max-width: 20% !important;
    margin-left: 10px;
}

::ng-deep .carousel-cell{
  border-radius: 50% !important;  
  width: 200px !important;
}

::ng-deep .carousel-dot,.carousel-dots{
color:#ee0979 !important;
border:2px solid #ee0979 !important
}
::ng-deep .carousel-dots{
    top: 200px;
}