<section class=" mb-4" style="margin-top: 115px;">
    <div class="" style="margin-top: 50px;
    margin-bottom: 70px;
    background: #f7f7f7; padding-bottom:1.5rem !important">
        <div class="container">
            <h2 class="" style="text-align: center;
    padding-top: 40px;">Why Choose Vista For Your Ideal Getaway</h2>
            <div class="row icons">
                <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12"><img alt="icon" width="70" height="60"
                        style="margin-left: 70px;"
                        src="https://img.vistarooms.com/angular_assets/desktop/images/Only+1+in+100+Homes++are+Selected.svg">
                    <p class="para text-center p1-16-redhat-medium">Only 1 in 50 homes are accepted</p>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12"><img
                        src="https://vistarooms.com/assets/desktop/images/500 Handpicked homes across India.svg"
                        alt="icon" width="70" height="60" style="margin-left: 70px;">
                    <p class="para text-center p1-16-redhat-medium">500+ Handpicked homes across India</p>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12"><img
                        src="https://vistarooms.com/assets/desktop/images/Hosted over 250,000 happy guests.svg"
                        alt="icon" width="70" height="60" style="margin-left: 70px;">
                    <p class="para text-center p1-16-redhat-medium">Hosted over 250,000+ happy guests</p>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12"><img
                        src="https://vistarooms.com/assets/desktop/images/Homes are regularly audited for 200 factors.svg"
                        alt="icon" width="70" height="60" style="margin-left: 70px;">
                    <p class="para text-center p1-16-redhat-medium">Homes are regularly audited for 200+ factors</p>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12"><img
                        src="https://img.vistarooms.com/angular_assets/desktop/images/We+empower+the++local+community.svg"
                        alt="alt" width="70" height="60" style="margin-left: 70px;">
                    <p class="para text-center p1-16-redhat-medium">We empower the local community</p>
                </div>
            </div>
        </div>
    </div>
</section>