<section class="" style="margin-top: 3rem!important;margin-bottom: 1.5rem!important;">
    <div class="container">
        <div class="">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h3 class="text-center h2-26-redhat-bold">Our Featured Holiday Homes</h3>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 mt-2 mb-4">
                <p class="text-center pb-4 p1-dark-16">We carefully handpick and manage all our
                    homes, to ensure you have a hassle-free, pleasant stay.</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-6 col-md-6 col-sm-12"><a>
                    <div class="prop-img img-con-1"
                        style="background-image: url('https://img.vistarooms.com/gallery/amara-villa-6b8218.jpg');">
                        <div class="grid-inner-container p-2">
                            <div>
                                <div class="d-inline-block overflow-nowrap w-50 p1-16-redhat-medium"> Amara Villa </div>
                                <div class="d-inline-block overflow-nowrap w-50 text-right p2-light-14"> Per Night
                                </div>
                            </div>
                            <div>
                                <div class="d-inline-block overflow-nowrap w-50 p2-dark-14">
                                    Alibaug, Maharashtra </div>
                                <div class="d-inline-block overflow-nowrap w-50 text-right p1-16-redhat-medium"> ₹
                                    67,000
                                </div>
                            </div>
                        </div>
                    </div>
                </a></div>
            <div class="col-lg-3 col-md-3 col-sm-12"><a>
                    <div class="prop-img img-con-2"
                        style="background-image: url('https://img.vistarooms.com/gallery/casa-sol-one-70fea0.jpg');">
                        <div class="grid-inner-container p-2">
                            <div>
                                <div class="d-inline-block overflow-nowrap w-50 p1-16-redhat-medium"> Casa De Joy </div>
                                <div class="d-inline-block overflow-nowrap w-50 text-right p2-light-14"> Per Night
                                </div>
                            </div>
                            <div>
                                <div class="d-inline-block overflow-nowrap w-50 p2-dark-14">
                                    Nerul, Goa </div>
                                <div class="d-inline-block overflow-nowrap w-50 text-right p1-16-redhat-medium"> ₹
                                    61,000
                                </div>
                            </div>
                        </div>
                    </div>
                </a></div>
            <div class="col-lg-3 col-md-3 col-sm-12"><a>
                    <div class="prop-img img-con-3"
                        style="background-image: url('https://img.vistarooms.com/angular_assets/common/property_grid/casa-ela-11-f23935.jpg');">
                        <div class="grid-inner-container p-2">
                            <div>
                                <div class="d-inline-block overflow-nowrap w-50 p1-16-redhat-medium"> Casa Ela 11 </div>
                                <div class="d-inline-block overflow-nowrap w-50 text-right p2-light-14"> Per Night
                                </div>
                            </div>
                            <div>
                                <div class="d-inline-block overflow-nowrap w-50 p2-dark-14">
                                    Lonavala, Maharashtra </div>
                                <div class="d-inline-block overflow-nowrap w-50 text-right p1-16-redhat-medium"> ₹
                                    20,750
                                </div>
                            </div>
                        </div>
                    </div>
                </a></div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-3 col-md-3 col-sm-12"><a>
                    <div class="prop-img img-con-4"
                        style="background-image: url('https://img.vistarooms.com/angular_assets/common/property_grid/open-house-f831ee.webp');">
                        <div class="grid-inner-container p-2">
                            <div>
                                <div class="d-inline-block overflow-nowrap w-50 p1-16-redhat-medium"> Open House </div>
                                <div class="d-inline-block overflow-nowrap w-50 text-right p2-light-14"> Per Night
                                </div>
                            </div>
                            <div>
                                <div class="d-inline-block overflow-nowrap w-50 p2-dark-14">
                                    Pune, Maharashtra </div>
                                <div class="d-inline-block overflow-nowrap w-50 text-right p1-16-redhat-medium"> ₹
                                    19,250
                                </div>
                            </div>
                        </div>
                    </div>
                </a></div>
            <div class="col-lg-3 col-md-3 col-sm-12"><a>
                    <div class="prop-img img-con-5"
                        style="background-image: url('https://img.vistarooms.com/angular_assets/common/property_grid/pranaam-4ea2cb.webp');">
                        <div class="grid-inner-container p-2">
                            <div>
                                <div class="d-inline-block overflow-nowrap w-50 p1-16-redhat-medium"> Pranaam </div>
                                <div class="d-inline-block overflow-nowrap w-50 text-right p2-light-14"> Per Night
                                </div>
                            </div>
                            <div>
                                <div class="d-inline-block overflow-nowrap w-50 p2-dark-14">
                                    Alibaug, Maharashtra </div>
                                <div class="d-inline-block overflow-nowrap w-50 text-right p1-16-redhat-medium"> ₹
                                    45,500
                                </div>
                            </div>
                        </div>
                    </div>
                </a></div>
            <div class="col-lg-6 col-md-6 col-sm-12"><a>
                    <div class="prop-img img-con-6"
                        style="background-image: url('https://img.vistarooms.com/gallery/mr-lonandkars-villa-adc256.jpg');">
                        <div class="grid-inner-container p-2">
                            <div>
                                <div class="d-inline-block overflow-nowrap w-50 p1-16-redhat-medium"> The Mansion </div>
                                <div class="d-inline-block overflow-nowrap w-50 text-right p2-light-14"> Per Night
                                </div>
                            </div>
                            <div>
                                <div class="d-inline-block overflow-nowrap w-50 p2-dark-14">
                                    Kasauli, Himachal Pradesh </div>
                                <div class="d-inline-block overflow-nowrap w-50 text-right p1-16-redhat-medium"> ₹
                                    28,000
                                </div>
                            </div>
                        </div>
                    </div>
                </a></div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12"><a>
                    <div class="prop-img img-con-7"
                        style="background-image: url('https://img.vistarooms.com/gallery/i0akabtcmnavv7hodwuq.jpg');">
                        <div class="grid-inner-container p-2">
                            <div>
                                <div class="d-inline-block overflow-nowrap w-50 p1-16-redhat-medium"> The Rain </div>
                                <div class="d-inline-block overflow-nowrap w-50 text-right p2-light-14"> Per Night
                                </div>
                            </div>
                            <div>
                                <div class="d-inline-block overflow-nowrap w-50 p2-dark-14">
                                    Alleppey, Kerala </div>
                                <div class="d-inline-block overflow-nowrap w-50 text-right p1-16-redhat-medium"> ₹
                                    39,000
                                </div>
                            </div>
                        </div>
                    </div>
                </a></div>
            <div class="col-lg-3 col-md-3 col-sm-12"><a>
                    <div class="prop-img img-con-8"
                        style="background-image: url('https://img.vistarooms.com/angular_assets/common/property_grid/umber-villa-d0e570.webp');">
                        <div class="grid-inner-container p-2">
                            <div>
                                <div class="d-inline-block overflow-nowrap w-50 p1-16-redhat-medium"> Umber Villa </div>
                                <div class="d-inline-block overflow-nowrap w-50 text-right p2-light-14"> Per Night
                                </div>
                            </div>
                            <div>
                                <div class="d-inline-block overflow-nowrap w-50 p2-dark-14">
                                    Alibaug, Maharashtra </div>
                                <div class="d-inline-block overflow-nowrap w-50 text-right p1-16-redhat-medium"> ₹
                                    60,375
                                </div>
                            </div>
                        </div>
                    </div>
                </a></div>
            <div class="col-lg-3 col-md-3 col-sm-12"><a>
                    <div class="prop-img img-con-9"
                        style="background-image: url('https://img.vistarooms.com/angular_assets/common/property_grid/the-winter-line-6554e0.webp');">
                        <div class="grid-inner-container p-2">
                            <div>
                                <div class="d-inline-block overflow-nowrap w-50 p1-16-redhat-medium"> The Winter Line
                                </div>
                                <div class="d-inline-block overflow-nowrap w-50 text-right p2-light-14"> Per Night
                                </div>
                            </div>
                            <div>
                                <div class="d-inline-block overflow-nowrap w-50 p2-dark-14">
                                    Kasauli, Himachal Pradesh </div>
                                <div class="d-inline-block overflow-nowrap w-50 text-right p1-16-redhat-medium"> ₹
                                    25,000
                                </div>
                            </div>
                        </div>
                    </div>
                </a></div>
        </div>
    </div>
</section>