<div class="container search-container-fotm">
  <div class="row search-form">
    <div class="col-lg-4 col-md-3 col-sm-12 input-text location-search">
      <div class="vwo-search-box">
        <label class="col-md-12" style="text-align: start;">Location</label>
        <input type="text" id="vwo-mobile-city" name="vwo-city-name" placeholder="Where are you travelling to/from?"
          autocomplete="off" autocapitalize="none" class="form-control font-16 vwo-search-dropdown text-capitalize" />
      </div>

    </div>
    <div class="col-lg-4 col-md-3 col-sm-6 input-text">
      <div class="vwo-search-box">
        <label class="col-md-12" style="text-align: start;">Date</label>
        <input type="text" readonly="" id="date-range" autocomplete="off" required="" bsdaterangepicker=""
          placeholder="Check-in / Check-out" class="
          font-16
          form-control
          bg-white
          ng-untouched ng-pristine ng-invalid
        " />
        <!---->
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-12 input-text">
      <div class="vwo-search-box">
        <label class="col-md-12" style="text-align: start;">Guest</label>
        <input type="text" readonly="" data-toggle="dropdown" id="guest"
          class="form-control sperson dropdown-toggle bg-white font-16" placeholder="1 Guest" />
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-12 font-20">
      <button class="btn search-btn ">SEARCH</button>
    </div>
  </div>

</div>