/* You can add global styles to this file, and also import other style files */
.custom-button {
  background-color: #ee0979;
  color: white;
  margin-bottom: 5px;
}

@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';